{% if "mysql_masters" in group_names %}
{% set mysql_replication_role = "master" %}
{% endif %}
{% if "mysql_slaves" in group_names %}
{% set mysql_replication_role = "slave" %}
{% endif %}

[client]
port={{ mysql_port }}
socket=/var/lib/mysql/mysql.sock

[mysqld]
port={{ mysql_port }}
{% if mysql_bind_address is defined %}
bind-address={{ mysql_bind_address }}
{% endif %}
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

{% if mysql_replication and mysql_replication_role == "master" %}
log-bin={{ mysql_log_bin }}
expire-logs-days={{ mysql_expire_logs_days }}
server-id={{ mysql_server_id }}
{% endif %}

{% if mysql_replication and mysql_replication_role == "slave" %}
relay-log={{ mysql_relay_log }}
relay-log-space-limit={{ mysql_relay_log_space_limit }}
read-only=1
server-id={{ mysql_server_id }}
{% endif %}

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
